<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/home.css">
	</head>
	<body>
		<section class="bonsaihome">
			<header>
				<h1>lookup!</h1>
			</header>
			<section>
				<h2>lookup! </h2></br> the AI that helps you avoid scammers/scams/fraud/cons</h2> </section></br></br>
				<a class="button" href="/index">Veriy that you are a Human. Click!</a>
			</section>
		</br></br>
		</section>
		<footer class="info">
			<p>Created by <a href="linkedin.com/in/lugwiri-jumba-400b0024a">Lugwiri Jumba</a></p>
			<p>Part of <a href="#">web app & blockchain series</a></p>
			<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
		</footer>
	</body>
</html>
