body {
    background-color: #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Add your CSS styles here to customize the page appearance */
